/node_modules
/public/hot
/public/css
/public/fonts
/public/trumbowyg
/public/img
/public/js
/public/fonts
/public/mix-manifest.json
/public/storage/
/storage/*.key
/storage/installed
/storage/pilot.license
/storage/medialibrary
/storage/settings.json
/storage/upgrade
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
run.bat